@{
    ViewData["Title"] = "ReadSession";
}
<h1>ReadSession</h1>
<ul>
    <li>Hello @ViewBag.Username</li>
    <li>@ViewData["college"]</li>
    <li>@TempData["address"]</li>
    <li>Learning @ViewBag.Course</li>
</ul>